{% if message %}
    <h3>{{ message }}</h3>
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.item.errors }}
        <label for="id_subject">Email subject:</label>
        {{ form.item }}
        <a href="create-item">create new item</a>
    </div>
    <div class="fieldWrapper">
        {{ form.quantity.errors }}
        <label for="id_message">Your message:</label>
        {{ form.quantity }}
    </div>
    <div class="fieldWrapper">
        {{ form.executor.errors }}
        <label for="id_sender">Your email address:</label>
        {{ form.executor }}
    </div>
    <div class="fieldWrapper">
        {{ form.done.errors }}
        <label for="id_cc_myself">CC yourself?</label>
        {{ form.done }}
    </div>
    <p><input type="submit" value="Send message"/></p>
</form>