{% if message %}
    <h3>{{ message }}</h3>
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.item.errors }}
        <label for="id_subject">Товар:</label>
        {{ form.item }}
        <a href="create-item?from=create">Создать новый товар</a>
    </div>
    <div class="fieldWrapper">
        {{ form.quantity.errors }}
        <label for="id_message">Количество:</label>
        {{ form.quantity }}
    </div>
    <div class="fieldWrapper">
        {{ form.executor.errors }}
        <label for="id_sender">Исполнитель:</label>
        {{ form.executor }}
    </div>
    <div class="fieldWrapper">
        {{ form.done.errors }}
        <label for="id_cc_myself">Выполнено</label>
        {{ form.done }}
    </div>
    <input type="submit" value="Подтвердить заказ"/>
    <a href="home">К списку заказов!</a>
</form>