<form action="" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ item_verbose_name }}:
        {{ order.item.name }}
    </div>
    <div class="fieldWrapper">
        {{ form.quantity.errors }}
        {{ form.done.label_tag }}:
        {{ form.quantity }}
    </div>
    <div class="fieldWrapper">
        {{ executor_verbose_name }}:
        {{ order.executor }}
    </div>
    <div class="fieldWrapper">
        {{ form.done.errors }}
        {{ form.done.label_tag }}:
        {{ form.done }}
    </div>
    <p><input type="submit" value="Обновить заказ"/></p>
</form>